//SIZE
$width-container: 1200px;

// COLOR
$color-primary-1: #ad1fea;
$color-primary-2: #4661e6;
$color-primary-3: #373f68;

$color-white: #ffffff;

$color-grey: #f2f4ff;
$color-grey-light: #f7f8fd;
$color-grey-dark: #647196;
$color-dark: #3a4374;

$color-orange: #f49f85;
$color-blue: #62bcfa;
